.slide-container {
  display: flex;
  flex-direction: column;
}

.slide {
  display: flex;
  overflow-x: scroll;
  gap: 40px;
  scrollbar-width: none;
  margin-bottom: 40px;
}

.img-item {
  padding: 56px 48px;
  overflow: visible;
  background-color: #c7d0d9;
}
